<div class="grid"
     (mouseup)="handleMouseUp()"
     (mouseleave)="handleMouseUp()">
  <div *ngFor="let row of grid">
    <div *ngFor="let cell of row"
         class="cell"
         [ngClass]="{
           'start': cell.type === 'start',
           'end': cell.type === 'end',
           'wall': cell.type === 'wall',
           'visited': cell.visited,
           'path': cell.path
         }"
         (click)="handleClick(cell)"
         (mousedown)="handleMouseDown(cell)"
         (mouseenter)="handleMouseEnter(cell)">
    </div>
  </div>
</div>

<div class="controls">
  <button (click)="resetGrid()">Reset</button>
  <button (click)="solve()">Solve</button>
</div>
